@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="icon" href="@Url.Content("~/imgAdmin/logo/pet-logo.png")" />
    @* CSS chung *@
    <link href="~/vendorAdmin/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/vendorAdmin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/cssAdmin/ruang-admin.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Admin")">
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/imgAdmin/logo/pet-logo.png")" width="40" />
                </div>
                <div class="sidebar-brand-text mx-3">PetSpa Admin</div>
            </a>
            <hr class="sidebar-divider my-0" />
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Admin")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Bảng Điều Khiển</span>
                </a>
            </li>
            <hr class="sidebar-divider" />
            <div class="sidebar-heading">Quản lý</div>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Products_List", "Admin")">
                    <i class="fas fa-fw fa-spa"></i>
                    <span>Sản Phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ManageService", "Admin")">
                    <i class="fas fa-fw fa-spa"></i>
                    <span>Dịch vụ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Pets_List", "Admin")">
                    <i class="fas fa-fw fa-dog"></i>
                    <span>Thú cưng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Staff_List", "Admin")">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Nhân viên</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Customer_List", "Admin")">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span>Khách hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "AdminStaffSchedule")">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Lịch làm việc nhân viên</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block" />
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <div class="version" id="version-ruangadmin">Phiên bản 1.1</div>
        </ul>
        <!-- End Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Quản trị viên</span>
                                <img class="img-profile rounded-circle" src="@Url.Content("~/imgAdmin/user.png")" width="30" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hồ sơ
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Main Content -->
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <!-- End Main Content -->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PetSpa Admin 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Bạn có chắc muốn đăng xuất?</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn muốn kết thúc phiên làm việc hiện tại.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/Account/Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    @* JS chung *@
    <script src="~/vendorAdmin/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendorAdmin/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/jsAdmin/ruang-admin.min.js"></script>
    <!-- SweetAlert2 CSS & JS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("Scripts", required: false)
    <!-- Thêm vào <head> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/vn.css">
</body>
</html>