
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="icon" href="@Url.Content("~/imgAdmin/logo/pet-logo.png")" />

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap 4 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" />
    <!-- Toastr CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <!-- FontAwesome CDN -->
    <link href="~/vendorAdmin/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/cssAdmin/ruang-admin.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <!-- Bootstrap 4 JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- scrollIt CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollIt/1.0.3/scrollIt.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Content("~/Admin/Index")">
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/imgAdmin/logo/pet-logo.png")" style="max-width:40px">
                </div>
                <div class="sidebar-brand-text mx-3">PetSpa Admin</div>
            </a>
            <hr class="sidebar-divider my-0">
            <!-- Thêm ngay dưới logo trong sidebar -->
            <div class="sidebar-heading"></div>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Home/Index")">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <div class="sidebar-heading"></div>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Admin/Index")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Bảng điều khiển</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Quản lý</div>
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Content("~/Admin/Staff")" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="false">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Nhân viên</span>
                </a>
                <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nhân viên</h6>
                        <a class="collapse-item" href="@Url.Content("~/Admin/Staff")">Danh sách nhân viên</a>
                    </div>
                </div>
            </li> *@
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List_Customer", "Admin")">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span>Khách hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "AdminStaffSchedule")">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Lịch làm việc nhân viên</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Content("~/Admin/Pets_List")" data-toggle="collapse" data-target="#collapsePets" aria-expanded="false">
                    <i class="fas fa-fw fa-paw"></i>
                    <span>Hồ sơ thú cưng</span>
                </a>
                <div id="collapsePets" class="collapse" aria-labelledby="headingPets" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @* <h6 class="collapse-header">Quản lý thú cưng</h6> *@
                        <a class="collapse-item" href="@Url.Content("~/Admin/Pets_List")">Danh sách thú cưng</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Content("~/Admin/Products_List")" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="false">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Sản phẩm</span>
                </a>
                <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @* <h6 class="collapse-header">Quản lý sản phẩm</h6> *@
                        <a class="collapse-item" href="@Url.Content("~/Admin/Products_List")">Danh sách sản phẩm</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "AdminService")" data-toggle="collapse" data-target="#collapseServices" aria-expanded="false">
                    <i class="fas fa-fw fa-spa"></i>
                    <span>Dịch vụ</span>
                </a>
                <div id="collapseServices" class="collapse" aria-labelledby="headingServices" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý dịch vụ</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "AdminService")">Tổng quan dịch vụ</a>
                        <a class="collapse-item" href="@Url.Action("ServiceList", "AdminService")">Danh sách dịch vụ</a>
                        <a class="collapse-item" href="@Url.Action("AddService", "AdminService")">Thêm dịch vụ mới</a>
                        <a class="collapse-item" href="@Url.Action("ServiceCategory", "AdminService")">Quản lý danh mục</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("ManageBlog", "Admin")" data-toggle="collapse" data-target="#collapseBlog" aria-expanded="false">
                    <i class="fas fa-fw fa-pen"></i>
                    <span>Blog</span>
                </a>
                <div id="collapseBlog" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @* <h6 class="collapse-header">Quản lý Blog</h6> *@
                        <a class="collapse-item" href="@Url.Action("ManageBlog", "Admin")">Danh sách Blog</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Dashboard", "AdminAppointment")" data-toggle="collapse" data-target="#collapseAppointments" aria-expanded="false">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Lịch Hẹn</span>
                </a>
                <div id="collapseAppointments" class="collapse" aria-labelledby="headingAppointments" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý lịch hẹn</h6>
                        <a class="collapse-item" href="@Url.Action("Dashboard", "AdminAppointment")">Tổng quan</a>
                        <a class="collapse-item" href="@Url.Action("ApproveAppointments", "AdminAppointment")">Duyệt lịch hẹn</a>
                        <a class="collapse-item" href="@Url.Action("ManagementTimeline", "AdminAppointment")">Sắp xếp lịch làm</a>
                        <a class="collapse-item" href="@Url.Action("List", "AdminAppointment")">Danh sách lịch hẹn</a>
                        <a class="collapse-item" href="@Url.Action("Calendar", "AdminAppointment")">Xem dạng lịch</a>
                        <a class="collapse-item" href="@Url.Action("Create", "AdminAppointment")">Tạo lịch hẹn mới</a>
                    </div>
                </div>
            </li>
          
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayments" aria-expanded="false">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>Thanh toán</span>
                </a>
                <div id="collapsePayments" class="collapse" aria-labelledby="headingPayments" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý thanh toán</h6>
                        <a class="collapse-item" href="@Url.Action("OrderHistory", "Admin")">Danh Sách Đơn Hàng</a>
                        <a class="collapse-item" href="@Url.Content("~/Admin/Payment")">Danh sách thanh toán</a>
                        @* <a class="collapse-item" href="@Url.Content("~/Admin/Refund")">Xử lý hoàn tiền</a> *@
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ManageBlog", "Admin")">
                    <i class="fas fa-fw fa-blog"></i>
                    <span>Quản lý Blog</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePromotions" aria-expanded="false">
                    <i class="fas fa-fw fa-tags"></i>
                    <span>Khuyến mãi</span>
                </a>
                <div id="collapsePromotions" class="collapse" aria-labelledby="headingPromotions" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @* <h6 class="collapse-header">Quản lý khuyến mãi</h6> *@
                        <a class="collapse-item" href="@Url.Content("~/Admin/Promotions_List")">Danh sách khuyến mãi</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Báo cáo</div>
            <li class="nav-item">
                <a class="nav-link" href="statistics.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Thống kê</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="version" id="version-ruangadmin">Phiên bản 1.1</div>
        </ul>
        @* @await Html.PartialAsync("_SidebarPartial") *@
        <!-- End Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for products..."
                                           aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle" src="@Url.Content("~/imgAdmin/staff.png")" style="max-width: 40px">
                                <span class="ml-2 d-none d-lg-inline text-white small">Paw Patrol</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <a class="dropdown-item" href="@Url.Content("~/Home/Index")">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Trang Web
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Đăng Xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End Topbar -->
                <!-- Main Content -->
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <!-- End Main Content -->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © PetSpa Admin 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Bạn có chắc muốn đăng xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Đóng">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn muốn kết thúc phiên làm việc hiện tại.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/Account/Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- JS chung -->
    <!-- Import đúng jQuery 3.6.0 và Bootstrap 4 để tránh xung đột plugin -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendorAdmin/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/jsAdmin/ruang-admin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Import các plugin JS cho các view sử dụng: owlCarousel, magnificPopup, ajaxChimp, isotope -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <!-- Đảm bảo các script của view con được render sau jQuery và Bootstrap -->
    @RenderSection("Scripts", required: false)
</body>
</html>