 <!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Content("~/Admin/Index")">
        <div class="sidebar-brand-icon">
            <img src="@Url.Content("~/imgAdmin/logo/pet-logo.png")">
        </div>
        <div class="sidebar-brand-text mx-3">Pet-Spa-Shop</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Content("~/Admin/Index")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bảng điều khiển</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Quản lý
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServices" aria-expanded="true"
           aria-controls="collapseServices">
            <i class="fas fa-fw fa-spa"></i>
            <span>Dịch vụ</span>
        </a>
        <div id="collapseServices" class="collapse" aria-labelledby="headingServices" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý dịch vụ</h6>
                <a class="collapse-item" href="@Url.Action("ManageService", "Admin")">Danh sách dịch vụ</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true"
           aria-controls="collapseStaff">
            <i class="fas fa-fw fa-users"></i>
            <span>Nhân viên</span>
        </a>
        <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý nhân viên</h6>
                <a class="collapse-item" href="@Url.Action("Staff_List", "Admin")">Danh sách nhân viên</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true"
           aria-controls="collapseCustomers">
            <i class="fas fa-fw fa-user-friends"></i>
            <span>Khách hàng</span>
        </a>
        <div id="collapseCustomers" class="collapse" aria-labelledby="headingCustomers" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý khách hàng</h6>
                <a class="collapse-item" href="@Url.Action("List_Customer", "Admin")">Danh sách khách hàng</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePets" aria-expanded="true"
           aria-controls="collapsePets">
            <i class="fas fa-fw fa-paw"></i>
            <span>Hồ sơ thú cưng</span>
        </a>
        <div id="collapsePets" class="collapse" aria-labelledby="headingPets" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý thú cưng</h6>
                <a class="collapse-item" href="@Url.Action("Pets_List", "Admin")">Danh sách thú cưng</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true"
           aria-controls="collapseProducts">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Sản phẩm</span>
        </a>
        <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý sản phẩm</h6>
                <a class="collapse-item" href="@Url.Action("Products_List", "Admin")">Danh sách sản phẩm</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppointments" aria-expanded="true"
           aria-controls="collapseAppointments">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Lịch Hẹn</span>
        </a>
        <div id="collapseAppointments" class="collapse" aria-labelledby="headingAppointments" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý lịch hẹn</h6>
                <a class="collapse-item" href="@Url.Action("ManageAppointment", "Admin")">Danh sách lịch hẹn</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayments" aria-expanded="true"
           aria-controls="collapsePayments">
            <i class="fas fa-fw fa-credit-card"></i>
            <span>Thanh toán</span>
        </a>
        <div id="collapsePayments" class="collapse" aria-labelledby="headingPayments" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý thanh toán</h6>
                <a class="collapse-item" href="@Url.Action("Payment", "Admin")">Danh sách thanh toán</a>
                <a class="collapse-item" href="@Url.Action("Refund", "Admin")">Xử lý hoàn tiền</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePromotions" aria-expanded="true"
           aria-controls="collapsePromotions">
            <i class="fas fa-fw fa-tags"></i>
            <span>Khuyến mãi</span>
        </a>
        <div id="collapsePromotions" class="collapse" aria-labelledby="headingPromotions" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý khuyến mãi</h6>
                <a class="collapse-item" href="@Url.Content("~/Admin/Promotions_List")">Danh sách khuyến mãi</a>
            </div>
        </div>
    </li>
    <!-- BLOG MANAGEMENT -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ManageBlog", "Admin")">
            <i class="fas fa-fw fa-blog"></i>
            <span>Quản lý Blog</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Báo cáo
    </div>
    <li class="nav-item">
        <a class="nav-link" href="statistics.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thống kê</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin">Phiên bản 1.1</div>
</ul>
