@page
@{
    Layout = null; // hoặc đường dẫn layout khác
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Admin dashboard for Paws & Claws Pet Shop">
  <meta name="author" content="indrijunanda">
    <link href="@Url.Content("~/imgAdmin/logo/pet-logo.png")" rel="icon">
    <title>petshop - Product List</title>
    <link href="@Url.Content("~/vendorAdmin/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/vendorAdmin/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/cssAdmin/ruang-admin.min.css")" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Content("~/Admin/Index")">
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/imgAdmin/logo/pet-logo.png")">
                </div>
                <div class="sidebar-brand-text mx-3">petshop - Dashboard</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Admin/Index")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Management
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServices" aria-expanded="true"
      aria-controls="collapseServices">
      <i class="fas fa-fw fa-spa"></i>
      <span>Services</span>
    </a>
    <div id="collapseServices" class="collapse" aria-labelledby="headingServices" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Service Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/List_Service")">List Services</a>

        </div>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true"
        aria-controls="collapseStaff">
        <i class="fas fa-fw fa-users"></i>
        <span>Staff</span>
        </a>
        <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Staff Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Staff")">List Staff</a>
       
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true"
      aria-controls="collapseCustomers">
      <i class="fas fa-fw fa-user-friends"></i>
      <span>Customers</span>
    </a>
    <div id="collapseCustomers" class="collapse" aria-labelledby="headingCustomers" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Customer Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/List_Customer")">List Customers</a>

        </div>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePets" aria-expanded="true"
        aria-controls="collapsePets">
        <i class="fas fa-fw fa-paw"></i>
        <span>Pet Profiles</span>
        </a>
        <div id="collapsePets" class="collapse" aria-labelledby="headingPets" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Pet Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Pets_List")">List Pets</a>
      
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true"
      aria-controls="collapseProducts">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Products</span>
    </a>
    <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Product Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Products_List")">List Products</a>


        </div>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppointments" aria-expanded="true"
        aria-controls="collapseAppointments">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <span>Appointments</span>
        </a>
        <div id="collapseAppointments" class="collapse" aria-labelledby="headingAppointments" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Appointment Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Appointments")">List Appointments</a>
     
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayments" aria-expanded="true"
      aria-controls="collapsePayments">
      <i class="fas fa-fw fa-credit-card"></i>
      <span>Payments</span>
    </a>
    <div id="collapsePayments" class="collapse" aria-labelledby="headingPayments" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Payment Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Payment")">List Payments</a>
        <a class="collapse-item" href="@Url.Content("~/Admin/Refund")">Process Refund</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePromotions" aria-expanded="true"
      aria-controls="collapsePromotions">
      <i class="fas fa-fw fa-tags"></i>
      <span>Promotions</span>
    </a>
    <div id="collapsePromotions" class="collapse" aria-labelledby="headingPromotions" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Promotion Management</h6>
        <a class="collapse-item" href="@Url.Content("~/Admin/Promotions_List")">List Promotions</a>
   
      </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Reports
  </div>
  <li class="nav-item">
    <a class="nav-link" href="statistics.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Statistics</span>
    </a>
  </li>
 
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin">Version 1.1</div>
</ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-1 small" placeholder="Search for products..."
                    aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">May 25, 2025</div>
                    <span class="font-weight-bold">Monthly pet adoption report is ready!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">May 20, 2025</div>
                    $500.00 from pet food sales deposited!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">May 15, 2025</div>
                    Low stock alert: Cat litter running low!
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="@Url.Content("~/imgAdmin/customer1.png")" style="max-width: 60px" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Can you recommend a good dog food brand?</div>
                    <div class="small text-gray-500">Buddy Bark · 1h</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="@Url.Content("~/imgAdmin/customer2.png")" style="max-width: 60px" alt="">
                    <div class="status-indicator bg-default"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Do you offer grooming services for cats?</div>
                    <div class="small text-gray-500">Whiskers Meow · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="tasksDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">3</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="tasksDropdown">
                <h6 class="dropdown-header">
                  Tasks
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Restock Dog Toys
                      <div class="small float-right"><b>50%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Update Pet Adoption Page
                      <div class="small float-right"><b>30%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Create Sales Report
                      <div class="small float-right"><b>75%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">View All Tasks</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="imgAdmin-profile rounded-circle" src="@Url.Content("~/imgAdmin/staff.png")" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Paw Patrol</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Product List</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/Index")">Home</a></li>
              <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/Products_List")">Products</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product List</li>
            </ol>
          </div>

          <!-- Product List Content -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Product Inventory</h6>
              <button id="btnAddProduct" class="m-0 float-right btn btn-primary btn-sm" type="button">
                Add New Product <i class="fas fa-plus"></i>
              </button>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th>Product ID</th>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Stock</th>
                          <th>Created At</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
  <tr>
    <td><button class="btn btn-link btn-sm btn-product-id" data-productid="1">1</button></td>
    <td>Premium Cat Food</td>
    <td>Food</td>
    <td>$25.99</td>
    <td>120</td>
    <td>2025-05-26 08:00:00</td>
    <td>
      <button class="btn btn-primary btn-sm edit-btn">Edit</button>
      <button class="btn btn-danger btn-sm btn-delete">Delete</button>
      <a href="Product_Detail?productID=1" class="btn btn-info btn-sm btn-detail">Detail</a>
    </td>
  </tr>
  <tr>
    <td><button class="btn btn-link btn-sm btn-product-id" data-productid="1">1</button></td>
    <td>Premium Cat Food</td>
    <td>Food</td>
    <td>$25.99</td>
    <td>120</td>
    <td>2025-05-26 08:00:00</td>
    <td>
     <button class="btn btn-primary btn-sm edit-btn">Edit</button>
      <button class="btn btn-danger btn-sm btn-delete">Delete</button>
      <a href="Product_Detail?productID=1" class="btn btn-info btn-sm btn-detail">Detail</a>
    </td>
  </tr>
  <tr>
    <td><button class="btn btn-link btn-sm btn-product-id" data-productid="1">1</button></td>
    <td>Premium Cat Food</td>
    <td>Food</td>
    <td>$25.99</td>
    <td>120</td>
    <td>2025-05-26 08:00:00</td>
    <td>
      <button class="btn btn-primary btn-sm edit-btn">Edit</button>
      <button class="btn btn-danger btn-sm btn-delete">Delete</button>
      <a href="Product_Detail?productID=1" class="btn btn-info btn-sm btn-detail">Detail</a>
    </td>
  </tr>
  <tr>
    <td><button class="btn btn-link btn-sm btn-product-id" data-productid="1">1</button></td>
    <td>Premium Cat Food</td>
    <td>Food</td>
    <td>$25.99</td>
    <td>120</td>
    <td>2025-05-26 08:00:00</td>
    <td>
      <button class="btn btn-primary btn-sm edit-btn">Edit</button>
      <button class="btn btn-danger btn-sm btn-delete">Delete</button>
      <a href="Product_Detail?productID=1" class="btn btn-info btn-sm btn-detail">Detail</a>
    </td>
  </tr>
  <tr>
    <td><button class="btn btn-link btn-sm btn-product-id" data-productid="2">2</button></td>
    <td>Dog Collar</td>
    <td>Accessory</td>
    <td>$12.50</td>
    <td>50</td>
    <td>2025-05-25 14:30:00</td>
    <td>
     <button class="btn btn-primary btn-sm edit-btn">Edit</button>
      <button class="btn btn-danger btn-sm btn-delete">Delete</button>
      <a href="Product_Detail?productID=1" class="btn btn-info btn-sm btn-detail">Detail</a>
    </td>
  </tr>
</tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="editForm">
        <div class="modal-header">
          <h5 class="modal-title">Chỉnh sửa sản phẩm</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <input type="hidden" id="edit-id"> <!-- ProductID -->

          <div class="form-group">
            <label for="edit-category">Danh mục</label>
            <select id="edit-category" class="form-control" required>
              <!-- Danh sách sẽ được thêm bằng JS -->
            </select>
          </div>

          <div class="form-group">
            <label for="edit-name">Tên sản phẩm</label>
            <input type="text" id="edit-name" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="edit-description">Mô tả</label>
            <textarea id="edit-description" class="form-control" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="edit-price">Giá</label>
            <input type="number" step="0.01" min="0" id="edit-price" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="edit-stock">Số lượng trong kho</label>
            <input type="number" min="0" id="edit-stock" class="form-control" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Lưu</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Add Product -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="addForm" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Thêm sản phẩm mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="add-category">Danh mục</label>
          <select id="add-category" class="form-control" required>
            <!-- Danh mục sẽ thêm bằng JS hoặc server -->
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="add-name">Tên sản phẩm</label>
          <input type="text" id="add-name" class="form-control" required>
        </div>

        <div class="form-group mb-3">
          <label for="add-description">Mô tả</label>
          <textarea id="add-description" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group mb-3">
          <label for="add-price">Giá</label>
          <input type="number" step="0.01" min="0" id="add-price" class="form-control" required>
        </div>

        <div class="form-group mb-3">
          <label for="add-stock">Số lượng trong kho</label>
          <input type="number" min="0" id="add-stock" class="form-control" required>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </form>
  </div>
</div>


          <!-- End Product List Content -->

          <!-- Donate Link -->

          <!-- Modal Logout -->
        

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
    
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 <script src="@Url.Content("~/vendorAdmin/jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/vendorAdmin/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/vendorAdmin/jquery-easing/jquery.easing.min.js")"></script>
<script src="@Url.Content("~/jsAdmin/ruang-admin.min.js")"></script>
 <script>
// Chỉ xử lý nút delete
$(".btn-delete").click(function (e) {
  e.preventDefault();
  if (confirm("Bạn có chắc muốn ẩn sản phẩm này không?")) {
    $(this).closest("tr").fadeOut();
  }
});
</script>


<script>
  // Danh sách danh mục giả
  const categories = [
    { CategoryID: 1, Name: "Accessory" },
    { CategoryID: 2, Name: "foot" },
  ];

  // Hàm đổ dữ liệu vào dropdown (dùng cho cả edit và add)
  function populateCategoryDropdown(dropdownId) {
    const categorySelect = document.getElementById(dropdownId);
    categorySelect.innerHTML = ''; // Xóa dữ liệu cũ

    // Tùy chọn mặc định
    const defaultOption = document.createElement('option');
    defaultOption.value = '';
    defaultOption.textContent = '-- Chọn danh mục --';
    categorySelect.appendChild(defaultOption);

    // Thêm từng danh mục
    categories.forEach(cat => {
      const option = document.createElement('option');
      option.value = cat.CategoryID;
      option.textContent = cat.Name;
      categorySelect.appendChild(option);
    });
  }

  // Khi mở modal Edit
  $(document).on("click", ".btn-primary.edit-btn", function (e) {
    e.preventDefault();

    const currentRow = $(this).closest("tr");
    const name = currentRow.find("td:eq(1)").text().trim();
    const price = currentRow.find("td:eq(3)").text().trim();

    $("#edit-name").val(name);
    $("#edit-price").val(price);

    populateCategoryDropdown('edit-category');

    $("#editModal").modal("show");
  });

  // Khi bấm nút Add New Product mở modal add
  document.getElementById('btnAddProduct').addEventListener('click', function () {
    // Đổ dữ liệu danh mục cho dropdown add
    populateCategoryDropdown('add-category');

    // Reset form add mới
    document.getElementById('addForm').reset();

    // Hiện modal add
    $('#addModal').modal('show');
  });

  // Xử lý submit form add
  document.getElementById('addForm').addEventListener('submit', function(e) {
    e.preventDefault();

    const newProduct = {
      categoryID: document.getElementById('add-category').value,
      name: document.getElementById('add-name').value.trim(),
      description: document.getElementById('add-description').value.trim(),
      price: parseFloat(document.getElementById('add-price').value),
      stock: parseInt(document.getElementById('add-stock').value),
    };

    if (!newProduct.categoryID) {
      alert('Vui lòng chọn danh mục');
      return;
    }
    if (!newProduct.name) {
      alert('Vui lòng nhập tên sản phẩm');
      return;
    }
    if (isNaN(newProduct.price) || newProduct.price < 0) {
      alert('Giá không hợp lệ');
      return;
    }
    if (isNaN(newProduct.stock) || newProduct.stock < 0) {
      alert('Số lượng kho không hợp lệ');
      return;
    }

    console.log('Thêm sản phẩm mới:', newProduct);

    // TODO: Gửi lên server hoặc xử lý lưu trữ ở đây

    // Đóng modal sau khi thêm
    $('#addModal').modal('hide');

    // Reset form
    this.reset();

    // TODO: Reload lại danh sách sản phẩm nếu cần
  });
</script>


<script>
  
</script>



</body>

</html>