@model pet_spa_system1.ViewModels.ServiceViewModel
@{
	ViewData["Title"] = "Services";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Pet Spa</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/img/Picture5.png")">
	<!-- Place favicon.ico in the root directory -->
	<!-- CSS here -->
	<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/themify-icons.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/nice-select.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/flaticon.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/gijgo.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/animate.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/slicknav.css")">
	<link rel="stylesheet" href="@Url.Content("~/css/style.css")">
	<!-- <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")"> -->
	<script src="@Url.Content("~/js/includeHeader.js")"></script>

</head>

<body>
	
	<!-- bradcam_area_start -->
	<div class="bradcam_area breadcam_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcam_text text-center">
						<h3>Dịch Vụ</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bradcam_area_end -->
	<!-- Service Section -->
	<section class="service_area">
		<div class="container">
			<!-- Section title -->
			<div class="row justify-content-center">
				<div class="col-lg-7 col-md-10">
					<div class="section_title text-center mb-95">
						<h3>Dịch vụ xịn sò cho Boss</h3>
						<p>
							Tắm thơm – cắt tóc – mát-xa chill chill – gội đầu thả ga.
							<br>Dù là "bé cún quậy phá" hay "hoàng thượng mèo lạnh lùng"
							<br>Pet Spa luôn có dịch vụ phù hợp chuẩn gu từng boss!
							<br>👉 Sen chỉ cần book lịch, còn lại để Pet Spa lo!
						</p>
						<div class="service_btn">
							<a href="@Url.Content("~/Service/Booking")" class="boxed-btn3">Đặt lịch ngay <i class="fa fa-paper-plane"></i></a>

							<!-- Form đặt lịch nhanh (ẩn mặc định) -->
							<!-- Popup form đặt lịch -->
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<!-- Service card 1 -->
				<div class="col-lg-4 col-md-6">
					<div class="single_service">
						<div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
							<div class="service_icon">
								<img src="@Url.Content("~/img/service/service_icon_1.png")" alt="">
							</div>
						</div>
						<div class="service_content text-center">
							<h3>🛁 Combo "Thơm Tho"</h3>
							<p>Cho lần ghé spa đầu tiên hoặc <br>làm sạch định kỳ.</p>
							<div class="service_price" style="padding-top: 10px;">
								<p style="color: red; font-weight: bold; font-style: italic;">Giá ưu đãi: 300.000đ</p>
							</div>
							<div>
								<p>"Dành cho những boss ưa sạch sẽ, nhưng chưa cần makeover."</p>
							</div>
							<div class="service_btn" style="padding-top: 15px;">
								<a href="booking.html" class="book_now">Đặt lịch</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Service card 2 -->
				<div class="col-lg-4 col-md-6">
					<div class="single_service active">
						<div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
							<div class="service_icon">
								<img src="@Url.Content("~/img/service/service_icon_2.png")" alt="">
							</div>
						</div>
						<div class="service_content text-center">
							<h3>💅 Combo "Mịn Mượt"</h3>
							<p>
								Combo dưỡng da, phục hồi,<br> chăm sóc lông mềm mượt.
							</p>
							<div class="service_price" style="padding-top: 10px;">
								<p style="color: red; font-weight: bold; font-style: italic;">Giá: 450.000đ</p>
							</div>
							<div>
								<p>
									“Hoàng thượng bước ra là phải thơm, mượt và có thần thái.”
								</p>
							</div>
							<div class="service_btn" style="padding-top: 10px;">
								<a href="booking.html" class="book_now">Đặt lịch</a>

							</div>
						</div>
					</div>
				</div>

				<!-- Service card 3 -->
				<div class="col-lg-4 col-md-6">
					<div class="single_service">
						<div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
							<div class="service_icon">
								<img src="@Url.Content("~/img/service/service_icon_3.png")" alt="">
							</div>
						</div>
						<div class="service_content text-center">
							<h3>👑 Combo VIP </h3>
							<p>Dành riêng cho những buổi ‘đại tu’ cực chất hoặc boss đi event.</p>
							<div class="service_price" style="padding-top: 10px;">
								<p style="color: red; font-weight: bold; font-style: italic;">Từ: 600.000đ</p>
							</div>
							<p>
								“Một khi đã là boss đại gia, thì mọi bước đều xứng tầm.”
							</p>
							<div class="service_btn" style="padding-top: 10px;">
								<a href="booking.html" class="book_now">Đặt lịch</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- service_area_end -->
	<!-- Testimonial Section -->
	<section class="testmonial_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="textmonial_active owl-carousel">
						<div class="testmonial_wrap">
							<div class="single_testmonial d-flex align-items-center">
								<div class="test_thumb">
									<img src="@Url.Content("~/img/service/bath.png")" alt="">
								</div>
								<div class="test_content">
									<h4>Tắm Bong Bóng</h4>
									<span>Chuyên gia làm sạch Boss</span>
									<p>Giúp bé cưng sạch sẽ thơm tho, loại bỏ bụi bẩn và mùi hôi, để da và lông luôn mềm mượt như lụa.</p>
								</div>
							</div>
						</div>
						<div class="testmonial_wrap">
							<div class="single_testmonial d-flex align-items-center">
								<div class="test_thumb">
									<img src="@Url.Content("~/img/service/cut.png")" alt="">
								</div>
								<div class="test_content">
									<h4>Cắt Móng Xinh</h4>
									<span>Thợ làm đẹp chân cho Boss</span>
									<p>Giữ móng gọn gàng, tránh xước nhà hay “đánh lộn” với chủ, giúp bé tự tin bước từng bước yêu thương.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- testmonial_area_end  -->
	
	<!-- JS here -->
	<script src="@Url.Content("~/js/vendor/modernizr-3.5.0.min.js")"></script>
	<script src="@Url.Content("~/js/vendor/jquery-1.12.4.min.js")"></script>

	<script src="@Url.Content("~/js/popper.min.js")"></script>
	<script src="@Url.Content("~/js/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
	<script src="@Url.Content("~/js/isotope.pkgd.min.js")"></script>
	<script src="@Url.Content("~/js/ajax-form.js")"></script>
	<script src="@Url.Content("~/js/waypoints.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.counterup.min.js")"></script>
	<script src="@Url.Content("~/js/imagesloaded.pkgd.min.js")"></script>
	<script src="@Url.Content("~/js/scrollIt.js")"></script>
	<script src="@Url.Content("~/js/jquery.scrollUp.min.js")"></script>
	<script src="@Url.Content("~/js/wow.min.js")"></script>
	<script src="@Url.Content("~/js/nice-select.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.slicknav.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
	<script src="@Url.Content("~/js/plugins.js")"></script>
	<script src="@Url.Content("~/js/gijgo.min.js")"></script>

	<!--contact js-->
	<script src="@Url.Content("~/js/contact.js")"></script>
	<script src="@Url.Content("~/js/jquery.ajaxchimp.min.js")"></script>
	<script src="@Url.Content("~/js/jquery.form.js")"></script>
	<script src="@Url.Content("~/js/jquery.validate.min.js")"></script>
	<script src="@Url.Content("~/js/mail-script.js")"></script>
	<script src="@Url.Content("~/js/main.js")"></script>
</body>
</html>